img {
    float: left;
    margin: 50px 50px 0px 50px;
}

p {
    float: right;
    width: 50%;
    margin-top: 75px;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}
button {
    clear: both;
    margin: 40px auto;
    display: block;

}